@model IEnumerable<BankExchangeRateAggregator.Models.ExchangeRate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Update" class="btn btn-primary">Update Exchange Rates</a>

<form method="get" action="@Url.Action("Index")">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="search" placeholder="Search by currency name">
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">Search</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeLastUpdateUtc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeLastUpdateUtc)
                </td>
                <td>
                    @if (!item.IsMain)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit | </a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
